/* Regular → 400 */
@font-face {
  font-family: "Averta_new";
  src: url("https://github.com/PA-Smarthome/home-assistant-averta/blob/main/Averta-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Semibold → 500 */
@font-face {
  font-family: "Averta_new";
  src: url("https://github.com/PA-Smarthome/home-assistant-averta/blob/main/Averta-Semibold.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* Bold → 700 */
@font-face {
  font-family: "Averta_new";
  src: url("https://github.com/PA-Smarthome/home-assistant-averta/blob/main/Averta-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
