@font-face {
  font-family: "Averta-Regular";
  src: url("https://raw.githubusercontent.com/PA-Smarthome/home-assistant-fonts/main/Averta-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Averta-Bold";
  src: url("https://raw.githubusercontent.com/PA-Smarthome/home-assistant-fonts/main/Averta-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
